@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" http-equiv="Cache-control" content="no-cache" />
    <title>Layout</title>
    <!-- Folhas de estilo CSS do bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UsuáriosWeb!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Usuario/MinhaConta">Minha Conta</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Usuários
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/Usuario/Cadastro">Cadastrar Usuários</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/Usuario/Consulta">
                                    Consultar Usuários
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="/Usuario/Relatorio">
                                    Relatório de Usuários
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <span class="text-white">
                        <strong> Usuário: </strong> @User.Identity.Name
                    </span>
                    &nbsp;&nbsp;
                    <a href="/Account/Logout" class="btn btn-outline-secondary btn-sm" onclick="return confirm('Deseja sair do sistema?')"> 
                        Sair do Sistema
                    </a>
                </form>

                <div class="mb-3">
                    @if(TempData["MensagemSucesso"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>@TempData["MensagemSucesso"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else if(TempData["MensagemErro"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>@TempData["MensagemErro"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>  
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @* Local para entrada do conteudo das demais páginas do projeto. *@
        @RenderBody()
    </div>
    
    <!-- Arquivos de extensão JavaScript (JS) -->
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>